<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ie.MeteorWidget" android:versionCode="21" android:versionName="2.5">
	<uses-sdk android:minSdkVersion="10" />
	<supports-screens android:resizeable="false"
		android:smallScreens="false" android:normalScreens="true"
		android:largeScreens="true" android:xlargeScreens="true"
		android:anyDensity="false" />
		
	<compatible-screens>
		<screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
    </compatible-screens>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:icon="@drawable/meteor" android:label="@string/app_name">

		<receiver android:name="MeteorWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="ie.MeteorWidget.UPDATE_MY_WIDGET" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/meteorwidgetproviderinfo" />
		</receiver>

		<activity android:name="MeteorActivity" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>

		<activity android:name="ie.MeteorWidget.MeteorPreferences"
			android:label="Meteor Widget Preferences">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="ie.MeteorWidget.MeteorAbout"
			android:label="Widget author" />

	</application>
</manifest>